# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Data files (optional - if you don’t want to upload)
# expenses.csv

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Streamlit cache
.streamlit/